<div class="container">
    <div class="header">
        <app-header></app-header>
        <button>
            <img
                draggable="false"
                src="../../../assets/images/exit.png"
            />
        </button>
    </div>
    <div class="content">
        <ng-container *ngIf="hasQuizBeenLoaded(); else loading;">
            {{ quiz | json }}
        </ng-container>
        <ng-template #loading>
            <app-spinner></app-spinner>
        </ng-template>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>