<div class="container">
    <h2 class="bold">Créer son compte</h2>
    
    <snackbar
        [errorMessage]="errorMessage"
        [successMessage]="signedUpMessage">
    </snackbar>

    <form
        [formGroup]="signUpForm"
        (ngSubmit)="onSignUp(signUpForm)">
        <input
            formControlName="username"
            type="text"
            placeholder="Identifiant" />
        
        <input
            formControlName="password"
            type="password"
            placeholder="●●●●●●●●●●●" />

        <button
            type="submit"
            [disabled]="signUpForm.invalid || signedUpMessage"
            [ngClass]="signUpForm.invalid  || signedUpMessage ? 'disabled' : 'primary'">
            Créer un compte
        </button>
        
        <a routerLink="..">
            <button
                [disabled]="signedUpMessage"
                [ngClass]="signedUpMessage ? 'disabled' : ''">
                Retour
            </button>
        </a>
    </form>
</div>