<div class="container">
    <button
        [disabled]="isConfirmButtonDisabled()"
        [ngClass]="isConfirmButtonDisabled() ? 'disabled' : 'primary'"
        (click)="confirmAnswer()">

        @if (givenAnswerState().hasAnswerBeenGiven) {

            @if (givenAnswerState().wasGivenAnswerCorrect) {
                🥳 Bravo !

            } @else {
                ❌ Raté !
            }
            
        } @else {
            Valider
        }
    </button>

    <button
        [disabled]="isNextButtonDisabled()"
        [ngClass]="isNextButtonDisabled() ? 'disabled' : 'primary'"
        (click)="goToNextStep()">
        Suivant
    </button>
</div>