<div class="container">
    <button
        [disabled]="isConfirmButtonDisabled"
        [ngClass]="isConfirmButtonDisabled ? 'disabled' : 'primary'"
        (click)="confirmAnswer()">
        <ng-container *ngIf="givenAnswerState.hasAnswerBeenGiven; else notGivenAnswer;">

            <ng-container *ngIf="givenAnswerState.wasGivenAnswerCorrect; else notCorrect;">
                🥳 Bravo !
            </ng-container>
            <ng-template #notCorrect>
                ❌ Raté !
            </ng-template>

        </ng-container>

        <ng-template #notGivenAnswer>
            Valider
        </ng-template>
    </button>

    <button
        [disabled]="isNextButtonDisabled"
        [ngClass]="isNextButtonDisabled ? 'disabled' : 'primary'"
        (click)="goToNextStep()">
        Suivant
    </button>
</div>