.container {
    height: 100%;

    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: space-between;

        button {
            max-width: 3.5rem;

            border-radius: 1rem;

            animation-name: fadeIn;
            animation-duration: 1s;
        }
    }

    .header,
    .content {
        padding-top: 10%;
        padding-left: 6%;
        padding-right: 6%;
    }

    .content {
        padding-bottom: 10%;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        h3 {
            font-size: 2rem;
            color: #989898;

            animation-name: fadeIn;
            animation-duration: 1s;
        }

        .results {
            margin-top: 30%;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            text-align: center;

            .note {
                font-family: 'bold';

                &.bad-score {
                    color: #bf2222;
                }

                &.good-score {
                    color: #399a2c;
                }

                &.medium-score {
                    color: #d29505;
                }
            }

            p {
                font-size: 1.4rem;
                color: #989898;
            }

            p,
            button {
                margin-top: 10%;
            }
        }
    }
}
