<div class="container">
    <div class="header">
        <app-header></app-header>
        <button (click)="exitQuiz()">
            <img
                draggable="false"
                src="../../../assets/images/exit.png"
            />
        </button>
    </div>
    <div class="content">
        @if (hasQuizBeenLoaded()) {

            @if(quiz.isInProgress()) {
                <h3>
                    {{ quiz.formatCurrentStepPaginator() }}
                </h3>
                <quiz-step
                    [answers]="quiz.getCurrentQuestionAnswers()"
                    [givenAnswerState]="givenAnswerState"
                    [questionLabel]="quiz.getCurrentQuestionLabel()"
                    (confirmedAnswer)="onConfirmedAnswer($event)"
                    (nextStepRequested)="onNextStepRequested()"
                />

            } @else {
                <quiz-results
                    [scoreEvaluation]="quiz.getScoreEvaluation()"
                    [scoreMessage]="quiz.formatScoreMessage()"
                    (exitQuizRequested)="onExistQuizRequested()"
                />
            }
            
        } @else {
            <app-spinner/>
        }
    </div>
</div>