<div class="container">
    <div class="header">
        <app-header></app-header>
        <button>
            <img
                draggable="false"
                src="../../../assets/images/exit.png"
            />
        </button>
    </div>
    <div class="content">
        <ng-container *ngIf="hasQuizBeenLoaded(); else loading;">
            <h3>
                {{ quiz.formatCurrentStepPaginator() }}
            </h3>
            <quiz-step
                [answers]="quiz.getCurrentQuestionAnswers()"
                [givenAnswerState]="givenAnswerState"
                [questionLabel]="quiz.getCurrentQuestionLabel()"
                (confirmedAnswer)="onConfirmedAnswer($event)"
                (nextStepRequested)="onNextStepRequested()">
            </quiz-step>
        </ng-container>
        
        <ng-template #loading>
            <app-spinner></app-spinner>
        </ng-template>
    </div>
</div>