.container {
    height: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header,
    .content {
        padding-top: 10%;
        padding-left: 6%;
        padding-right: 6%;
    }
}
