.container {
    height: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header,
    .content {
        padding-top: 10%;
        padding-left: 6%;
        padding-right: 6%;
    }

    .header {
        animation-name: slideInFromTop;
        animation-duration: 1s;
    }

    .footer {
        animation-name: slideInFromBottom;
        animation-duration: 1s;
    }
}
