<div class="container">
    <h2 class="semi-bold">
        {{ questionLabel() }}
    </h2>

    <answers-container
        [answers]="answers()"
        [givenAnswerState]="givenAnswerState()"
        [selectedAnswerId]="selectedAnswerId"
        (answerSelected)="onAnswerSelected($event)"
    />
    
    <actions-container
        [givenAnswerState]="givenAnswerState()"
        [noAnswerSelected]="noAnswerSelected()"
        (answerConfirmed)="onAnswerConfirmed()"
        (nextStepRequested)="onNextStepRequested()"
    />
</div>