<div class="container">
    <h2 class="semi-bold">
        {{ questionLabel() }}
    </h2>
    <div class="answers">
        <answers-container
            [answers]="answers()"
            [givenAnswerState]="givenAnswerState()"
            [selectedAnswerId]="selectedAnswerId"
            (answerSelected)="onAnswerSelected($event)">
        </answers-container>
    </div>
    <div class="actions">
        <actions-container
            [givenAnswerState]="givenAnswerState()"
            [isConfirmButtonDisabled]="mustConfirmButtonBeDisabled()"
            [isNextButtonDisabled]="mustNextButtonBeDisabled()"
            (answerConfirmed)="onAnswerConfirmed()"
            (nextStepRequested)="onNextStepRequested()">
        </actions-container>
    </div>
</div>