.container {
    height: 100%;

    .content {
        height: 100%;

        @media (min-width: 1000px) {
            display: none;
        }
    }

    .warning {
        animation-name: slideInFromBottom;
        animation-duration: 0.7s;

        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .images {
            display: flex;
            gap: 2rem;

            img,
            .adblock-warning {
                width: 250px;

                margin-bottom: 2rem;
            }

            .adblock-warning {
                display: flex;
                align-items: center;
                text-align: center;

                max-width: 250px;
                background-color: #feecd9;

                user-select: none;
            }
        }

        h1 {
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.2rem;
        }

        @media (max-width: 999px) {
            display: none;
        }
    }
}
