<div class="container">
    <p class="intro">
        L'application de quiz <span class="bold">intelligente</span>
        avec des questions générées <span class="bold">par une IA</span>.
    </p>
    
    <div class="form">
        <snackbar
            [errorMessage]="errorMessage"
            [successMessage]="signedInMessage"
        />
    
        <form
            [formGroup]="signInForm"
            (ngSubmit)="onSignIn(signInForm)">
            <input
                formControlName="username"
                type="text"
                placeholder="Identifiant" />
            
            <input
                formControlName="password"
                type="password"
                placeholder="●●●●●●●●●●●" />
    
            <button
                type="submit"
                [disabled]="signInForm.invalid || signedInMessage"
                [ngClass]="signInForm.invalid || signedInMessage ? 'disabled' : 'primary'">
                Se Connecter
            </button>
            
            <a routerLink="sign-up">
                <button
                    [ngClass]="signedInMessage ? 'disabled' : ''"
                    [disabled]="signedInMessage">
                    Créer un compte
                </button>
            </a>
        </form>
    </div>
</div>