<div class="container">
    @if (mustSpinnerBeDisplayed()) {
        <app-spinner/>

        @if (isQuizBeingLoaded()) {
            <h3>
                💡 Génération du quiz en cours... Merci de patienter.
            </h3>
        }

    } @else {
        <div class="parameters">
            <div class="snackbar">
                <snackbar
                    [errorMessage]="errorMessage">
                </snackbar>
            </div>

            <h2 class="bold">Choisir un thème</h2>

            <div class="quiz-themes">
                <div
                    class="quiz-theme-parameter"
                    *ngFor="let parameter of quizParameters.themes">
                    <quiz-theme
                        [data]="parameter"
                        [isSelected]="isQuizThemeSelected(parameter)"
                        (selectedQuizTheme)="onQuizThemeSelect($event)">
                    </quiz-theme>
                </div>
            </div>

            <h2 class="bold">Nombre de questions</h2>
            <div class="quiz-number-of-questions">
                <div
                    class="quiz-number-of-questions-parameter"
                    *ngFor="let parameter of quizParameters.numberOfQuestions">
                    <quiz-number-of-questions
                        [data]="parameter"
                        [isSelected]="isNumberOfQuestionsSelected(parameter)"
                        (selectedNumberOfQuestions)="onNumberOfQuestionsSelect($event)">
                    </quiz-number-of-questions>
                </div>
            </div>
        </div>
        <button
            class="primary"
            (click)="launchQuiz()">
            C'est parti !
        </button>
    }
</div>