@font-face {
    font-family: 'regular';
    src: url('./assets/fonts/KumbhSans-Regular.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('./assets/fonts/KumbhSans-Bold.ttf');
}

@font-face {
    font-family: 'extra-bold';
    src: url('./assets/fonts/KumbhSans-ExtraBold.ttf');
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;

    font-family: 'regular';
    font-weight: normal;
}

h1,
p {
    color: #252c2d;
}

.bold {
    font-family: 'bold';
}
