@font-face {
    font-family: 'regular';
    src: url('./assets/fonts/KumbhSans-Regular.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('./assets/fonts/KumbhSans-Bold.ttf');
}

@font-face {
    font-family: 'semi-bold';
    src: url('./assets/fonts/KumbhSans-SemiBold.ttf');
}

@font-face {
    font-family: 'extra-bold';
    src: url('./assets/fonts/KumbhSans-ExtraBold.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;

    font-family: 'regular';
    font-weight: normal;
}

h1,
p {
    color: #252c2d;
}

.bold {
    font-family: 'bold';
}

.semi-bold {
    font-family: 'semi-bold';
}

button {
    width: 100%;

    border-radius: 2rem;
    border: none;

    padding: 1rem;

    font-size: 1.1rem;
    background: rgb(37, 44, 45);
    background: linear-gradient(
        180deg,
        rgba(37, 44, 45, 1) 0%,
        rgba(54, 62, 67, 1) 100%
    );

    font-family: 'semi-bold';
    color: #fff;

    &.primary {
        background: rgb(254, 205, 31);
        background: linear-gradient(
            180deg,
            rgba(254, 205, 31, 1) 0%,
            rgba(254, 178, 31, 1) 100%
        );

        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    }

    &.disabled {
        background: rgb(176, 176, 176);
        background: linear-gradient(
            180deg,
            rgba(176, 176, 176, 1) 0%,
            rgba(180, 180, 180, 1) 100%
        );
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;

        animation-timing-function: ease-in-out;
    }

    to {
        transform: translateY(0%);
        opacity: 1;

        animation-timing-function: ease-in-out;
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;

        animation-timing-function: ease-in-out;
    }

    to {
        transform: translateY(0%);
        opacity: 1;

        animation-timing-function: ease-in-out;
    }
}
