.container {
    height: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        gap: 5rem;

        button {
            border-radius: 1rem;

            animation-name: fadeIn;
            animation-duration: 1s;
        }
    }

    .header,
    .content {
        padding-top: 10%;
        padding-left: 6%;
        padding-right: 6%;
    }
}
